.followmarg{


margin-top: 42px;
background-color: whitesmoke;
width: 100%;


}



.followtext{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;



}


.twitter{

    width: 42px;
    height: 42px
    
    
    
    
    }


    .sibling-fade { visibility: hidden; }
    /* Prevents :hover from triggering in the gaps between items */
    
    .sibling-fade > * { visibility: visible; }
    /* Brings the child items back in, even though the parent is `hidden` */
    
    .sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
    /* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */
    
    .sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
    /* Fade out all items when the parent is hovered */
    
    .sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
    /* Fade in the currently hovered item */
    
    



    .insta{

        width: 34px;
        height: 34px;
        margin-left: 20px;
        
        
        
        
        }


.margerase{

margin-top: -16px;



}

.spotify{
height: 35px;
width: 35px;
margin-left: 20px;
}


.linksize{

font-size: 12px;
text-decoration: none;
color: black;


}