




.imgstats{


width: 600px;
height: auto;
margin-top: 175px;





}

@media screen and (max-width: 600px) {

.imgstats{

width: 400px;



}

     
}

@media screen and (max-width: 500px) {

    .imgstats{
    
    width: 300px;
    
    
    
    }
    
         
    }



    @media screen and (max-width: 315px) {

        .imgstats{
        
        width: 240px;
        
        
        
        }
        
             
        }