@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

.titlefont{

font-size: 44px;

margin-top: 70px;

font-family: 'Open Sans', sans-serif;

font-weight: bold;

font-style: italic;






}

.nowlink{

color: black;



}

.nowlink:hover{

color: red;
font-weight: bold;
font-style: italic;
text-decoration: none;

}













.coverEdit {
    
    height: 260px;
    width: 260px
  
    
    
    }




.margin {

margin-left: 0px;
padding-left: 0px;
margin-top: 0px;



}

.italicsthis{

font-style: italic;


}

@media screen and (max-width:768px) {

    .titlefont{



    margin-top: 60px;

    }
    
}

@media screen and (max-width:600px) {

    .titlefont{



    margin-top: 15px;

    }
    
}




