.addmargin{
    
    
    font-size: 1px;
    
    
    
    }
    
    
    .addmargin:hover{
    
    font-size: 10px;
    
    }
    
    .boldemail{

        font-size: 1px;
        font-weight: normal;

    }