.imageEdit{

    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 56px;
    
    
    
    
    }
    
    .scrollable{
    
    max-height: 545px;
    overflow-y: scroll;
    
    }






    